/* Global styles */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Container glow effect */
/* Import other stylesheets */
@import './styles/navbar.css';
@import './styles/intro.css';
@import './styles/projects.css';
@import './styles/loading.css';
@import './styles/intro.css';
@import './styles/backgroundIcons.css';

